
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2 style="text-align:center">Page Not Found</h2>
<p style="text-align:center"><strong>Error: 404.</strong> The requested page is not available!!</p>

