<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <br />
    <br />

    <h2 style="text-align:center">An error occurred while processing your request.</h2>
    <p style="text-align:center">@ViewBag.Message</p>

</body>
</html>
