<div style="text-align:center;">
    <hr style="background-color:#ffffff" />
    <footer>
        <p style="color:#ffffff;background-color:#000000;">&copy; @DateTime.Now.Year - Gains Fitness and Nutrition</p>
    </footer>
</div>
